
.DS_Store          
Thumbs.db         
*.swp              
*.swo              


dist/              
target/            
*.exe              
*.jar              
*.pyc              
__pycache__/      

node_modules/      
venv/              
.env              
.env.local         
.env.*             

.idea/            
.vscode/           
.project         
.classpath        
*.suo              

logs/           
tmp/              
*.log              
*.tmp            

config.json        

*.zip              
*.rar              
*.pdf              
