.App {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.ant-tabs {
    height: 100%;
}

.ant-tabs-content-holder {
    height: calc(100% - 40px);
}

.ant-tabs-tabpane {
    height: 100%;
    overflow: hidden;
}