.scene{
    text-align: center;
    margin: 20px;
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: aliceblue;
    border:5px solid whitesmoke;
}
/* .scene:focus{
    border:5px solid #888;
} */

.scene-item{
    width: 100%;
    height: 100%;
}

.image-item{
    cursor: pointer;
}

.app-logo{
    width: 100%;
    height: 100%;
}